@import "tailwindcss";

[data-theme="slate"] {
  --color-background: rgb(2, 6, 23);
  --color-foreground: rgb(255, 255, 255);
  --color-primary: rgb(124, 58, 237);
  --color-secondary: rgb(91, 33, 182);
  --color-muted: rgb(203, 213, 225);
}
